.cast-page-character-group {
    flex-wrap: wrap;
    justify-content: center;
}

.cast-page-character-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.cast-page-character-name {
    text-align: center;
}

.cast-page-character-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.cast-page-character-group-level-0 .comic-character-thumbnail {
    width: 250px;
    height: 250px;
}

.cast-page-character-group-level-1 .comic-character-thumbnail {
    width: 200px;
    height: 200px;
}

.cast-page-character-group-level-2 .comic-character-thumbnail {
    width: 100px;
    height: 100px;
}

.cast-page-character-thumbnail img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}