:root {
    --fader-speed: 300ms;
}

.fader-appear {
    opacity: 0!important;
    visibility: hidden!important;
}

.fader-appear-active {
    opacity: 1!important;
    visibility: visible!important;
    transition: opacity var(--fader-speed) ease-in-out!important;
}

.fader-appear-done {
    opacity: 1!important;
    visibility: visible!important;
}

.fader-enter {
    opacity: 0!important;
    visibility: hidden!important;
}

.fader-enter-active {
    opacity: 1!important;
    visibility: visible!important;
    transition: opacity var(--fader-speed) ease-in-out!important;
}

.fader-enter-done {
    opacity: 1!important;
    visibility: visible!important;
}

.fader-exit {
    opacity: 1!important;
    visibility: visible!important;
}

.fader-exit-active {
    opacity: 0!important;
    transition: opacity var(--fader-speed) ease-in-out!important;
}

.fader-exit-done {
    opacity: 0!important;
    visibility: hidden!important;
}

.fadeIn {
    animation: fadeInAnimation 0.5s linear;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}