.sidebar-item {
    background: var(--cmx-container-background);
    box-shadow: var(--cmx-container-box-shadow);
    border: var(--cmx-container-border);
    min-height: 100px;
    padding: 0 15px 15px 15px;
}

.sidebar-item li {
    list-style: none;
}