
.navigation-bar-bars {
    display: none;
    width: 40px;
    height: 40px;
    font-size: 40px;
    padding: 6px;
    color: var(--cmx-accent-color);
    cursor: pointer;
    @media screen and (max-width: 768px) {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }
}

.navbar {
    align-items: center;
    max-width: var(--cmx-content-width);
    transition: all linear 0.3s;
}

.navbar ul {
    text-align: center;
    column-gap: 20px;
    transition: all linear 0.3s;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0px;
    @media screen and (min-width: 1200px) {
        column-gap: 50px;
    }
}

.navbar li {
    list-style: none;
    transition: all linear 2s;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.menu-item a {
    cursor: pointer;
    &.active {
        color: #000000;
    }
}

.dropdown-menu {
    transition: all linear 0.3s;
    padding: 5px;
}