.the-background {
    position: absolute;
    float: none;
    z-index: -666;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.the-background img {
    min-width: 1920px;
}