.main-page, .page-single, .comic-page, .post-single, .character-single {
    max-width: var(--cmx-content-width);
    align-items: center;
    width: 100%;
    position: relative;
    transition: all linear 0.3s;
}

.content-wrapper {
    align-items: center;
}

.main-content {
    width: 65%;
}

.sidebar-content {
    width: 35%;
}