.post-item {
    background: var(--cmx-foreground-color);
    border: 1px solid var(--cmx-detail-color);
    padding: 15px;
    box-shadow: 0px 0px 10px 0px color-mix(in hsl, var(--cmx-detail-shadow) 100%, transparent);
}