.post-item {
    background: var(--cmx-container-background);
    box-shadow: var(--cmx-container-box-shadow);
    border: var(--cmx-container-border);
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
    width: 100%;
}