.the-character-wrapper {
    width: 100%;
}

.the-character-item {
    background: var(--cmx-container-background);
    box-shadow: var(--cmx-container-box-shadow);
    border: var(--cmx-container-border);
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
    width: 100%;
}

.the-character-image {
    width: 50%;
    overflow: hidden;
}

.the-character-image img {
    width: 100%;
}

.the-character-description {
    width: 50%;
}

.the-character-comic-list-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0px;
    column-gap: 0px;
    flex-direction: row;
}