.the-character-wrapper {
    width: 100%;
}

.the-character-item {
    padding-top: 0;
}

.the-character-image {
    width: 50%;
    overflow: hidden;
}

.the-character-image img {
    width: 100%;
}

.the-character-description {
    width: 50%;
}

.the-character-comic-list-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0px;
    column-gap: 0px;
    flex-direction: row;
}