.fader-appear {
    opacity: 0;
    visibility: hidden;
}

.fader-appear-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease-in-out,
}

.fader-appear-done {
    opacity: 1;
    visibility: visible;
}

.fader-enter {
    opacity: 0;
    visibility: hidden;
}

.fader-enter-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease-in-out,
}

.fader-enter-done {
    opacity: 1;
    visibility: visible;
}

.fader-exit {
    opacity: 1;
    visibility: visible;
}

.fader-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out,
}

.fader-exit-done {
    opacity: 0;
    visibility: hidden;
}

.fadeIn {
    animation: fadeInAnimation 0.3s linear;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}