/* Variables */
body {
  --cmx-base-color: hsl(0deg 0% 8.02%);
  --cmx-foreground-color: hsl(0deg 0% 11.96%);
  --cmx-text-color: hsl(0deg 0% 49.75%);
  --cmx-detail-color: hsl(0deg 0% 27.36%);
  --cmx-accent-color: hsl(0deg 0% 93.85%);
  --cmx-detail-shadow: hsl(0deg 0% 30.86%);
  --cmx-base-shadow: color-mix(in hsl, var(--cmx-base-color) 10%, hsl(0, 25%, 1%));
  --cmx-foreground-shadow: color-mix(in hsl, var(--cmx-foreground-color) 10%, hsl(0, 25%, 1%));
  --cmx-text-shadow: color-mix(in hsl, var(--cmx-text-color) 10%, hsl(0, 25%, 1%));
  --cmx-detail-shadow: color-mix(in hsl, var(--cmx-detail-color) 90%, hsl(0, 25%, 1%));
  --cmx-accent-shadow: color-mix(in hsl, var(--cmx-accent-color) 10%, hsl(0, 25%, 1%));
  --cmx-content-width: 1100px;

  --cmx-container-background: radial-gradient(ellipse at bottom, color-mix(in hsl, var(--cmx-foreground-color) 50%, transparent), transparent),
                          radial-gradient(ellipse at top, color-mix(in hsl, var(--cmx-detail-color) 50%, transparent), transparent),
                          color-mix(in hsl, var(--cmx-detail-shadow) 50%, transparent);
  --cmx-container-background-reverse: radial-gradient(ellipse at bottom, color-mix(in hsl, var(--cmx-detail-color) 50%, transparent), transparent),
                          radial-gradient(ellipse at top, color-mix(in hsl, var(--cmx-foreground-color) 50%, transparent), transparent),
                          color-mix(in hsl, var(--cmx-detail-shadow) 50%, transparent);
  --cmx-container-box-shadow: 0px 0px 10px 0px color-mix(in hsl, var(--cmx-detail-shadow) 100%, transparent);
  --cmx-container-border: 1px solid var(--cmx-detail-color);
}

/* Background */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cmx-base-color);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Fonts */
body {
  color: var(--cmx-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 34px;
}

#root {
  display: flex;
  flex-direction: column;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

a {
  color: var(--cmx-accent-color);
}
