#the-comic {
    min-height: 500px;
}

.the-comic-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#the-comic img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 490px;
    height: auto;
    text-align: center;
}

.comic-navigator {
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
    background: var(--cmx-container-background);
    box-shadow: var(--cmx-container-box-shadow);
    border: var(--cmx-container-border);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: center;
    font-size: var(--cmx-font-medium);
}

.comic-title-wrapper {
    font-size: var(--cmx-font-medium);
    background: var(--cmx-container-background);
    box-shadow: var(--cmx-container-box-shadow);
    border: var(--cmx-container-border);
    padding: 10px;
}

.comic-title {
    text-align: center;
    font-weight: bold;
    color: var(--cmx-accent-color)
}

.comic-character-list {
    background: var(--cmx-container-background);
    box-shadow: var(--cmx-container-box-shadow);
    border: var(--cmx-container-border);
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .comic-navigator {
        font-size: var(--cmx-font-big);
        column-gap: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .comic-navigator {
        column-gap: 75px;
    }
}

@media screen and (min-width: 1201px) {
    .comic-navigator {
        column-gap: 100px;
    }
}